[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-api-logger = "*"
requests = "*"

[dev-packages]
django-extensions = "*"
pytest = "*"
pytest-django = "*"
locust = "*"

[requires]
python_version = "3.8"
